#timetable {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

#form {
  text-align: center;
  font-size: 110%;
  text-transform: uppercase;
}

#cap {
  text-align: center;
}

#term {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}

#dept {
  font-family: 'Courier New', Courier, monospace;
  font-size: 150%;
}